.business__articels {
    padding-bottom: 100px;
    .row{
        row-gap: 25px;
    }
    .single__article__box {
        background: #EFF3F7;
        padding: 15px 15px 20px;
        border-radius: 25px;

        .arti__img {
            margin-bottom: 20px;

            img {
                height: 260px;
                width: 100%;
                border-radius: 16px;
            }
        }

        .reviews__btn {
            color: var(--body);

            svg path {
                fill: var(--body);
            }
        }

        h3 {
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 4px;

            a {
                color: inherit;
            }
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}



@media screen and (max-width:767px) {
    .business__articels .single__article__box h3 {
        font-size: 21px;
    }

    .business__articels .row {
        row-gap: 25px;
    }

    .business__articels {
        padding-bottom: 50px;
    }
}