.business__search-com{
    padding: 80px 0;
    p{
        line-height: 30px;
    }
    .arr_direction{
        position: absolute;
        top: 50px;
        right: 200px;
        transform: rotate(30deg);
    }
}