.trusty__team {
    .team__box {
        padding: 0 10px;

        .team__box__inner {
            position: relative;

            &:hover {
                .team__box__content {
                    opacity: 1;
                }
            }

            img {
                height: 386px;
                width: 100%;
                border-radius: 20px;
            }

            h4 {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .team-designation {
                background-color: var(--blue);
                padding: 4px 10px;
                border-radius: 40px;
                display: inline-block;
                font-size: 13px;
            }

            .team__box__content {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 20px;
                background: rgba(2, 42, 28, 0.45);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                transition: ease all 0.5s;
            }
        }

    }
}


@media screen and (max-width:767px) {
    .trusty__team .team__box .team__box__inner img {
        height: 300px;
    }
}