.related__articles {
    background-color: #EAF0F8;
    padding: 80px 10px 107px;
    border-radius: 35px 35px 0 0;
    margin-bottom: -27px;

    .top__verifiedbanks {
        margin: 0 -10px;
    }

    .row {
        .blog__box__wrap {
            width: 33.33%;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .related__articles .row .blog__box__wrap{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width:767px) {
    .related__articles .row .blog__box__wrap {
        width: 100%;
        margin-bottom: 30px;
    }
    .related__articles{
        padding:50px 10px 80px;
    }
}