.ani_pet_review_box {
  background-color: #eff3f7;
  border-radius: 20px;
  padding: 30px 30px 25px 30px;
  margin-bottom: 30px;
  width: 100%;

  .reviews_end {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    max-height: 160px;
    img {
      border-radius: 100px;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
    .starts_i {
      width: 14px;
      height: 14px;
      margin-top: -10px;
    }
  }
  .apr_img {
    flex: 0 0 97px;

    img {
      height: 73px;
      width: 97px;
      border-radius: 12px;
    }
  }

  .apr_meta_data {
    gap: 22px;
    padding-bottom: 27px;
    border-bottom: 1px solid #d2dbe4;
    position: relative;
  }

  .apr_content {
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }

    .web__url {
      color: #00000099;
      margin-bottom: 0;
      line-height: 1.4;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .relevant_btn {
    position: absolute;
    right: 0;
    top: 0;

    span {
      color: #000;
      font-size: 12px;
      line-height: 19px;
      padding: 5px 15px;
      background-color: #d6e3ef;
      border-radius: 40px;
    }
  }

  .ap_location,
  .ap_primary_text p {
    color: #00000099;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
  }

  .ap_location {
    display: inline-flex;
    gap: 9px;
    align-items: center;
  }

  .ap_primary_text {
    span {
      color: #1877f2;
    }
  }

  .ap_review_score {
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    border-left: 1px solid #00000066;
    padding-left: 14px;
    margin-left: 14px;
  }

  .ap_primary_wrapper {
    justify-content: space-between;
    padding: 25px 0 17px 0;
  }

  .supply_store {
    a:first-child {
      margin-right: 10px;
    }

    span {
      border-left: 1px solid #d2dbe4;
      padding-left: 10px;
      margin-left: 7px;
      color: #00000099;
    }
  }

  .ap_secondary-wraoper {
    justify-content: space-between;
  }

  .latest_r_btn {
    a {
      color: #205cd4;
      display: inline-flex;
      gap: 9px;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .relevant_btn {
    position: unset;
    margin-top: 11px;
  }

  .ap_primary_wrapper {
    display: block !important;
  }

  .ap_primary_text {
    margin-bottom: 5px;
  }

  .latest_r_btn {
    a {
      font-size: 13px;
      position: relative;
      top: -4px;
    }
  }

  .ani_pet_review_box .apr_meta_data {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }

  .ani_pet_review_box {
    padding: 20px;
    margin-bottom: 20px;
  }

  .ani_pet_review_box .ap_secondary-wraoper {
    gap: 10px;
    flex-wrap: wrap;
  }
}
